html, body {
	font-family: "EB Garamond",serif;
	background-color: none;
	scroll-behavior: smooth;
	display: block;
	margin: 0;
	padding: 0;
	overflow-x: hidden;	
}

#top {
	padding: 10px 10px 5px 10px;
	height: 98vh;
	background-image: url("../images/splashbg.jpg");
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	filter: grayscale(40%);
	top: 0;
	left: 0;
	z-index: 0;

}

#top-text {
	position: relative;
	top: 40vh;
	left: 0;
	text-align: center;
	color: #D1E8E2;
	text-shadow: 1px 1px #000000;
	font-size: 50px;
}

.top-bar {
	color: #D1E8E2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-shadow: 1px 1px #000000;
}

@keyframes slideInRight {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes slideInLeft {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translatex(0%);
	}
}


.top-bar .bar-element {
	padding: 10px 15px 10px 15px;
	font-size: 20px;
	font-weight: 700;
	font-variant: small-caps;
	position: relative;
	display: flex;
	flex-direction: row;
	animation: 1.5s ease-out 0s 1 slideInRight;
}

#social-media {
	animation: 1.5s ease-out 0s 1 slideInLeft;
}

#social-media img {
	padding: 0px 5px 0px 5px;
}

#name {
	width: 70%;
}

#redir {
	width: 30%;
	display: flex;
	flex-direction: row;
	text-justify: center;
	justify-content: space-evenly;
	animation: 1.5s ease-out 0s 1 slideInLeft;
	white-space: nowrap;
}

.bar-element a {
	display: inline-block;
	color: #D1E8E2;
	font-style: none;
	text-decoration: none;
}

div a {
  position: relative;
  color: #D1E8E2;
  text-decoration: none;
}

a:hover {
	color: inherit;
}

/*#redir a:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: 20%;
   left: 0;
	background-color: #D1E8E2;
   visibility: hidden;
   -webkit-transform: scaleX(0);
   transform: scaleX(0);
   -webkit-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
}

#redir a:hover:before {
   visibility: visible;
   -webkit-transform: scaleX(1);
   transform: scaleX(1);
}*/

#Projects {
	padding-top: 5vh;
	height: 98vh;
	min-height: 1000px;
	display: flex;
	flex-direction: column;
	background-color: #DFDFDF;
	z-index: 1;
	/*box-shadow: 0px 10px 10px #FFFFFF, 0px -10px 10px #FFFFFF;*/
	/*border-radius: 20px;*/
}


#Projects img{
	position: absolute;
	top: 5%;
	bottom: 5%;
	right: 1%;
	height: 90%;
	width: auto;
	max-width: 40%;
}

#Projects section {
	position: relative;
	color: #25292B;
	background-color: #DFDFDF;
	height: 33%;
}

#Projects section:nth-child(even){
	color: #DFDFDF;
	background-color: #25292B;
}

#Projects section:nth-child(odd) img {
	left: 1%;
}

#Projects section div {
	margin-left: 2%;
}

#Projects section:nth-child(odd) .project {
	/*text-align: right;*/
	margin-left: 48%;
	margin-right: 2%;
}


.project {
	width: 50%;
	text-overflow: ellipsis;
}

.langs {
	font-size: 12px;
}

.navbar {
	position: absolute;
	background-color: red;
}

#About {
	height: 100vh;
	overflow: hidden;
	background-color: #9d9f89;
}

#about-body {
	margin: 0 6% 0 6%;
}
